.container{
    ul{
        width: 120px;
        li{

            button{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                padding: 0.5rem 0.3rem;
                border-radius: 5px;

                &:hover{
                    background-color: var(--background-faded);
                    svg, span{
                        color: var(--main-color-selected);
                    }
                }
            }
        }
    }

}