.container{  
    
    .overview{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .dragArea{
        text-align: center;
        padding: 0.5rem;
        
        svg{
            font-size: 1.5rem;
            display: flex;
        }
    }

}