.container{
    max-width: 400px;
    margin: 4rem auto;
    padding: 1rem;
    border: 2px solid var(--background-faded);
    background-color: var(--main-color-opacity);

    .header{
        display: flex;
        align-items: center;
        justify-content: space-between;

        b{
            font-size: 2rem;
        }
        a{
            color: var(--main-color-light);

            &:hover{
                color: var(--main-color-selected);
            }
        }
    }

    form{
        position: relative;
        margin-top: 1rem;

        input, button{
            border: 2px solid var(--background-faded);
            background-color: var(--main-color-opacity);
            padding: 0.5rem;
            width: 100%;
            border-radius: 5px;
            box-sizing: border-box;

            &:hover{
                border-color: var(--main-color-selected);
            }
        }

        input{
            margin-top: 0.5rem;
        }

        button{
            margin-top: 1rem;
        }

        span{
            display: block;
            margin: 0.5rem 0;
            font-size: 0.9rem;
            opacity: 0.9;
        }
    }

}
