.container{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 500px;
    width: 100%;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color-background);

    .emailSent{
        button{
            padding: 0.5rem;
            margin-top: 2rem;
            border: 2px solid var(--main-color);

            &:hover{
                border-color: var(--main-color-selected);
            }
        }
    }

    .enterCode{
        height: 200px;
        p{
            margin: 1rem 0;
        }

        .error{
            opacity: 0.8;
        }

        button{
            margin: 2rem auto;
            border: 2px solid var(--main-color);
            padding: 0.5rem 2rem;
            border-radius: 50px;
        }

        input, button{
            &:hover{
                border-color: var(--main-color-selected);
            }
        }
    }


}