.container{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 500px;
    width: 100%;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color-background);

    padding: 1rem;
    min-width: 260px;

    .emailSent{
        max-width: 400px;
        button{
            width: 100%;
            padding: 1rem;
            margin-top: 2rem;
            border-radius: 5px;
            border: 2px solid var(--background-faded);
            background-color: var(--main-color-opacity);

            &:hover{
                border-color: var(--main-color-selected);
            }
        }
    }

    .enterCode{
        height: 200px;

        h3{
            margin-bottom: 1rem;
        }

        .error{
            margin-top: 1rem;
        }

        button{
            margin: 2rem auto;
            border: 2px solid var(--background-faded);
            background-color: var(--main-color-opacity);
            padding: 0.5rem;
            width: 100%;
            border-radius: 5px;
        }

        input, button{
            &:hover{
                border-color: var(--main-color-selected);
            }
        }
    }


}