.container {

    div {
        display: flex;
        justify-content: center;
        align-items: center;

        input {
            text-align: center;
            height: 60px;
            width: 40px;
            border-radius: 5px;
            margin: 0 3px;
            border: 2px solid var(--background-faded);
            background-color: var(--main-color-opacity);    
            font-size: 1.5rem;

            &:focus {
                outline: none;
                border-color: var(--main-color-selected);
            }
        }
    }

}
