.container{

    .total{
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 0;
    }

    .element{
        border: 2px solid transparent;

        &:hover{
            border-color: var(--main-color-selected);
        }
    }
}