.container{
    text-align: center;
    img{
        margin-bottom: 0.5rem;
        border-radius: 5px;
        width: 150px;
        height: 120px;
    }

    p{
        font-size: 0.9rem;
        height: 2rem;
        max-width: 380px;
        margin: auto;
    }
}