.container{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;

    div{
        background-color: var(--main-color-background);
        button{
            padding: 2.5rem;
            text-align: center;
            border: 1px solid transparent;
            &:hover{
                border-color: var(--main-color);
            }
        }
    }
}