.container{
    .menu{
        display: flex;
        width: 15px;
    }

    ul{
        width: 110px;

        li{
            button{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0.5rem;
                border-radius: 5px;
                &:hover{
                    background-color: var(--background-faded);
                }
                svg{
                    display: flex;
                }
            }
        }

    }
}