.container{
    position: absolute;
    top: 0;
    right: 0;

    ul{
        width: 80px;

        li{
            button{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0.3rem;
                border-radius: 5px;
                &:hover{
                    background-color: var(--background-faded);
                }
            }
            svg{
                display: flex;
            }
        }
    }
}