.container {
    position: fixed;
    z-index: 15;
    margin-top: 5rem;
    left: 5px;

    .alert{
        background-color: var(--main-color-solid);
        text-align: center;
        border: 2px solid var(--background-faded);
        padding: 0.5rem;
        cursor: pointer;
        min-width: 100px;
        margin-bottom: 0.5rem;
        border-radius: 5px;
        font-size: 0.8rem;
        animation: SlideDown 1.2s ease;

        &:hover{
            border-color: var(--main-selected);
        }

        @keyframes SlideDown {
            0% {
                transform: translateX(-100%);
            }
            50% {
                transform: translateX(0%);
            }
        }
    }

}