.container{
    width: 100%;
    min-width: 320px;
    max-height: 100px;
    transition: ease-in-out 0.5s;
    background-color: var(--main-color-solid);
    border-top: 1px solid var(--main-color);
}

.large {
    max-height: calc(100vh);
    height: 100vh;
    overflow-y: auto;
    padding-top: 6rem;
    padding-bottom: 3rem;
}