.container{
    width: 100%;
    min-width: 320px;
    max-height: 100px;
    transition: ease-in-out 0.5s;
    background-color: var(--main-color-solid);
}

.open{
    border-top: 1px solid var(--main-color);
    padding: 0.2rem;
}

.closed{
    max-height: 32px;
    &:hover *{
        opacity: 0.7;
    }
}

.large {
    max-height: 92vh;
    height: 92vh;
    padding-top: 3rem;
}