.container{
    margin-bottom: 1rem;

    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        button{
            padding: 1rem;
            &:hover{
                color: var(--main-selected);
            }
        }
    }

    .map{
        display: grid;
        grid-template-columns: repeat(1, 1fr 1fr 1fr);
        overflow-y: auto;
        max-height: 200px;

        .element{
            border: 2px solid var(--background-faded);
            background-color: var(--main-color-opacity);
            display: flex;
            align-items: center;
            padding: 0.5rem;
            margin: 0.5rem;
            border-radius: 5px;
            cursor: pointer;

            &:hover{
                border-color: var(--main-color-selected);
            }

            img{
                width: 60px;
                height: 60px;
                margin-right: 0.5rem;
            }
            small{
                color: var(--main-color-light);
            }
        }
    }

    @media (max-width: 600px){
        .map{
            grid-template-columns: repeat(1, 1fr 1fr);

            .element{

                span{
                    font-size: 0.8rem;
                }
            }
        }
    }
}