.container{
    position: relative;
    progress {
        position: absolute;
        bottom: 0px;
        width: 100%;
        background-color: var(--main-color-opacity);
        height: 2px;

        &::-webkit-progress-bar {
            background-color: var(--main-color-opacity);
        }
        &::-webkit-progress-value {
            background: var(--main-color-selected);
        }
    }
}