.container{
    overflow-x: auto;
    display: flex;
    white-space: nowrap;
    padding: 0.5rem 0;

    button{
        background-color: var(--main-color-opacity);
        border: 1px solid var(--background-faded);
        margin: 0 0.3rem;
        border-radius: 5px;
        padding: 0.2rem 0.5rem;

        display: flex;
        align-items: center;
        justify-content: space-between;

        &:hover{
            border-color:var(--main-color-selected);
        }
    }

    svg{
        margin-left: 0.3rem;
        display: flex;
        font-size: 1.3rem;
        opacity: 0.6;
        &:hover{
            opacity: 1;
            color: var(--main-color-selected);
        }
    }
}