.container{

    a{
        border: 2px solid transparent;    
        margin: 0.5rem 0;
        padding: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &:hover{
            border-color: var(--main-color-selected);
        }
    }

    svg, span{
        display: flex;
    }
    span{
        font-size: 1.1rem;
    }
    svg {
        font-size: 1.5rem;
    }
        
    .menuBtn{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        svg{
            display: flex;
            font-size: 1.5rem;
            &:hover{
                color: var(--main-color-selected);
            }
        }
    }

    .links{
        span{
            font-size: 1.2rem;
        }
        svg{
            font-size: 1.5rem;
        }
    
        span{
            display: flex;
            align-items: center;
        }
    }
}