.container{
    border: 1px solid var(--main);
    margin: 1rem 0;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;

    &:hover{
        border-color: var(--main);
    }

    .overview{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

}