.container{
    margin-top: 1rem;
    max-height: 500px;
    overflow-y: auto;

    .element{
        border: 1px solid transparent;
        margin: 0.5rem 0;
        &:hover{
            border: 1px solid var(--main-color);
        }
    }

}