.container{
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 320px;
    padding: 0.8rem;
    z-index: 100;


    .options{
        display: flex;
        align-items: center;

        .title{
            margin-right: 0.5rem;
            border: 1px solid var(--main);
            min-width: 40px;
            text-align: center;
            &:hover{
                border-color: var(--main-selected);
            }
        }   
        .title:last-child{
            margin: 0;
        }
    }

    @media (max-width: 600px){
        .desktop{
            display: none;
        }
    }
}