.container{

    .element{
        margin: 0.5rem 0;
        background-color: var(--background-faded);

        button{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 0.5rem;
            border: 2px solid transparent;

            &:hover{
                background-color: var(--background-faded);
                border-color: var(--main-color-selected);
                svg{
                    color: var(--main-color-selected);
                    border-radius: 5px;
                }
            }
            
            svg{
                display: flex;
                font-size: 1.5rem;
            }
        }
    }
}