.container{

    div:nth-child(1){
        display: flex;
        align-items: center;
        justify-content: space-between;

        button{
            display: flex;
            &:hover{
                opacity: 0.7;
            }

            svg{
                font-size: 1.2rem;
            }
        }
    }

    form{
        margin: 1rem 0;

        div{
            display: flex;
            align-items: center;
            justify-content: center;
        }

        input, button{
            padding: 0.5rem;
            border-radius: 0;
            display: flex;
            border: 2px solid var(--background-faded);
            background-color: var(--main-color-opacity);

            &:hover{
                border-color: var(--main-color-selected);
            }
        }
        button{
            padding: 0.5rem 2rem;
        }
        input{
            width: 100%;
            margin-right: 0.5rem;
        }
    }

}