.container{
    
    .createBtn{
        width: 80px;
        height: 80px;
        background-color: var(--background-faded);
        border-radius: 5px;    
        cursor: pointer;
        margin: 0.5rem;
        border: 1px solid transparent;

        display: flex;
        align-items: center;
        justify-content: center;

        &:hover{
            border-color: var(--main-color-selected);
        }

        svg{
            font-size: 2rem;
        }
    }

    .cover{
        position: fixed;
        top: 0;
        left: 0;
        background-color: var(--background-dark-cover);
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;
        padding: 0.5rem;
        
        form{
            border: 2px solid var(--main-color);
            width: 200px;
            border-radius: 5px;
            margin-bottom: 5rem;
            padding: 1rem;

            button, input{
                padding: 0.5rem;
                width: 100%;
                border-radius: 5px;
                background-color: var(--background-faded);
                margin: 0.2rem 0;

                &:hover{
                    opacity: 0.6;
                }
            }

            button, svg{
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            small{
                color: var(--main-color-red);
            }
        }
    }
    
}