.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;

    div{
        button{
            padding: 0.2rem;
            min-width: 70px;
            background-color: var(--background-faded);
            border-radius: 0;
        }
        .selected{
            border: 1px solid var(--main-color);
            color: var(--main-color);
        }
    }

}