.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;

    .sort{
        button{
            padding: 0.2rem;
            min-width: 70px;
            background-color: var(--background-faded);
            border: 1px solid transparent;

            &:hover{
                border-color: var(--main-color-light);
            }
        }
        .selected{
            border-color: var(--main-color-selected);
        }
    }

}