.container{
    .searching{
        display: inline-flex;
    }

    section{
        margin: 2rem 0;
        padding: 0.5rem;
    }

    main{
        display: inline-flex;
        flex-wrap: wrap;
        width: 100%;
    }
}