.container{
    .map{
        max-width: 500px;
        padding: 1rem;
        background-color: var(--main-color-background);
        border: 2px solid var(--background-faded);
        border-radius: 5px;
        overflow-y: auto;
        max-height: 500px;
        margin: 5rem auto;

        .element{
            border: 2px solid var(--background-faded);
            background-color: var(--main-color-opacity);
            padding: 0.6rem;
            border-radius: 5px;
            margin: 1rem 0;
            cursor: pointer;

            display: flex;
            align-items: center;
            justify-content: space-between;

            &:hover{
                border-color: var(--main-color-selected);
            }
        }
    }
}