.container{
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;

    form{
        width: clamp(300px, 450px, 600px);
        border: 1px solid var(--background-faded);
        margin: auto;
        background-color: var(--main-color-background);
        padding: 1rem;

        textarea,input,button{
            border: 2px solid var(--background-faded);
            background-color: var(--main-color-opacity);
            padding: 0.5rem;
            width: 100%;
        }

        label{
            display: block;
            margin-bottom: 0.2rem;
        }
        textarea, input{
            font-size: 0.9rem;
            margin-bottom: 1rem;
            max-height: 50px;
        }
        button{
            display: flex;
            justify-content: center;

            &:hover{
                border-color: var(--main-color-selected);
            }
        }

    }
}