.container{
    .element{
        border: 2px solid transparent;
        margin-bottom: 0.5rem;
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 0.1rem;

        &:hover{
            border-color: var(--main-color-selected)
        }

        &:hover .admin{
            display: block;
        }

        .admin{
            display: none;
        }
    }
}
