.container{
    border: 1px solid var(--background-faded);
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 5px;
    background-color: var(--main-color-opacity);

    .title{
        opacity: 0.9;
        font-weight: 600;
        color: var(--main-color-light);
    }

    .overview{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 0.5rem;

        button{
            display: flex;
            border: 2px solid transparent;
            &:hover *{
                color: var(--main-color-selected);
            }

            svg{
                font-size: 1.2rem;
            }
        }
    }
}