.container{

    .status{
        margin-bottom: 1rem;
    }
    
    form{

        .errors{
            font-size: 0.8rem;
            margin-top: 0.2rem;
        }

        textarea, input {
            padding: 0.3rem;
            border: 1px solid var(--main-color);
            width: 100%;
        }

        textarea{
            width: 100%;
            min-width: 100px;
            resize:vertical;
            max-height: 200px;
            min-height: 100px;
        }
        input{
            padding: 0.5rem 0;
            margin-top: 0.5rem;
        }
        button{
            border: 1px solid var(--main-color);
            padding: 0.5rem;
            border-radius: 0;
            width: 100%;
            margin-top: 1rem;
            &:hover{
                border-color: var(--main-color-selected);
            }
        }
    }
}