.container{

    .content{
        margin-bottom: 15rem;

        .search{
            position: sticky;
            top: 0;

            input{
                padding: 0.5rem;
                background-color: var(--main-color-background);
                border: 2px solid var(--main-color);
                border-radius: 5px;

                &:hover{
                    border-color: var(--main-color-selected);
                }
            }
        }

        .total{
            padding: 1rem 0;
            display: flex;
            justify-content: space-between;
        }

        .element{
            display: flex;
            align-items: center;
            margin: 0.5rem 0;
            border: 2px solid transparent;

            &:hover{
                border-color: var(--main-color-selected);
            }

            img{
                transition: 0.2s ease-in-out;
                width: 40px;
                height: 40px;
                margin-right: 0.3rem;
            }
            p{
                font-size: 0.8rem;
                height: 30px;
                overflow-y: hidden;
            }
        }
    }
    
}