.container{
    margin-top: 1rem;
    max-height: 500px;
    overflow-y: auto;

    .element{
        margin: 0.5rem 0;
        border: 2px solid transparent;
        
        &:hover{
            border-color: var(--main-color-selected);
        }

    }

}