.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--main-color-opacity);
    padding: 0.8rem 0.5rem;
    border-radius: 5px;
    margin: 1rem 0;
    cursor: pointer;
    border: 1px solid transparent;

    &:hover{
        border-color: var(--main-color-selected);
    }
}