.container{
    background-color: var(--main-color-opacity);
    position: fixed;
    bottom: 55px;
    padding: 0.3rem;
    right: 5px;
    border-radius: 5px;

    button{
        display: flex;
    }
    svg{
        font-size: 1.5rem;
    }
}

.playingOpen{
    bottom: 85px;
}