.container{
    width: clamp(300px, 60vw, 500px);
    margin: auto;

    p{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .range[type=range] {
        -webkit-appearance: none;
        width: 100%;
        cursor: pointer;
    }
    .range[type=range]:focus {
        outline: none;
    }
    .range[type=range]::-webkit-slider-runnable-track {
        height: 5px;
        background: var(--background-faded);
        border-radius: 5px;
    }
    .range[type=range]::-webkit-slider-thumb {
        height: 15px;
        width: 15px;
        margin-top: -0.3rem;
        border-radius: 50px;
        background: var(--main-color);
        -webkit-appearance: none;
    }

}