.container{
    margin: 2rem auto;
    text-align: center;
    button{
        padding: 0.7rem;
        border: 2px solid var(--background-faded);
        width: 200px;
        background-color: var(--main-color-opacity);
        border-radius: 50px;

        &:hover{
            border-color: var(--main-color);
        }
    }
    
}