.container{

    form{
        margin: 1rem 0;

        div{
            display: flex;
            align-items: center;
            justify-content: center;
        }

        input, button{
            padding: 0.5rem;
            border-radius: 0;
            display: flex;
            border: 2px solid var(--background-faded);
            background-color: var(--main-color-opacity);

            &:hover{
                border-color: var(--main-color-selected);
            }
        }
        button{
            padding: 0.5rem 2rem;
        }
        input{
            width: 100%;
            margin-right: 0.5rem;
        }
        .error{
            margin-top: 0.5rem;
            font-size: 0.8rem;
        }
    }
}