.container{
    text-align: center;
    position: sticky;
    top: 30%;

    .map{
        max-height: 400px;
        overflow-y: auto;
        background-color: var(--background-faded);
        padding: 0.5rem 0;
        border-radius: 50px;

        &::-webkit-scrollbar{
            display: none;
        }
        a{
            display: block;
            padding: 0.4rem;
            
            &:hover{
                color: var(--main-color-selected);
            }
        }
    }
}