.container{

    .nothing{
        margin-top: 4rem;
        text-align: center;
    }

    .songs{
        display: flex;

        .map{
            width: 100%;

            .element{
                width: 100%;
                border: 2px solid transparent;
                margin-bottom: 0.5rem;
                display: flex;
                align-items: center;
                cursor: pointer;
                padding: 0.1rem;

                &:hover{
                    border-color: var(--main-color-selected)
                }
            }
        }

    }
    
}
