.container{

    .error{
        margin: 0.5rem 0;
        font-size: 0.9rem;
    }

    button{
        margin: 1rem 0;
        padding: 0.5rem;
        border-radius: 0;
        display: flex;
        border: 2px solid var(--background-faded);
        background-color: var(--main-color-opacity);

        &:hover{
            border-color: var(--main-color-selected);
        }
    }
}