.container{
    width: 80px;
    height: 80px;
    background-color: var(--background-faded);
    border: 1px solid transparent;
    border-radius: 5px;    
    cursor: pointer;
    margin-right: 0.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    &:hover{
        border-color: var(--main-color-selected) ;
    }

    ul{

        svg{
            font-size: 1.4rem;
        }

        li{
            width: 100%;
            text-align: center;
        }

        span{
            font-size: 0.8rem;
        }

    }

}