.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2rem;
    cursor: pointer;

    &:hover{
        background-color: var(--main-color-opacity);
    }

    .info {
        display: flex;
        align-items: center;
        margin-right: 0.2rem;

        img {
            width: 40px;
            height: 40px;
            border-radius: 5px;
        }

        p {
            margin-left: 0.2rem;
            font-size: 0.8rem;
        }
    }

    .controls {
        display: flex;
        align-items: center;

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;

            &:hover * {
                color: var(--main-color-selected);
            }
        }

        .play {
            svg {
                font-size: 1.8rem;
            }
        }

        .heart {
            font-size: 1.1rem;
        }
    }
}