.container{
    min-height: 450px;
    position: relative;
    background-color: var(--main-color-opacity);
    border: 2px solid var(--background-faded);
    border-radius: 5px;

    .empty{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 450px;
    }
}