.container{
    display: inline-flex;
    flex-wrap: wrap;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    max-height: 150px;
    border-top: 1px solid var(--background-faded);
    padding: 0.3rem;

    .element{
        background-color: var(--background-faded);
        border: 1px solid transparent;
        position: relative;
        width: 180px;
        min-height: 50px;
        margin: 0.3rem;
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;

        &:hover{
            border-color: var(--main-selected) ;
        }

        &:hover .delete{
            display: block;
        }

        p{
            font-size: 0.8rem;
            max-height: 100px;
            max-height: 45px;
            overflow: hidden;
            width: 100%;
        }

        img{
            width: 30px;
            height: 30px;
            margin-right: 0.2rem;
        }

        .index{
            position: absolute;
            left: 0;
            top: 0;
            background-color: var(--main-background-color);
            padding: 0.2rem;
            font-size: 0.7rem;
            min-width: 10px;
            display: flex;
            justify-content: center;
        }

        .delete{
            display: none;
            padding: 0.3rem;

            svg{
                color: var(--main-red);
                font-size: 0.8rem;
                display: flex;
            }

            &:hover{
                background-color: var(--background-faded);
                border-radius: 50px;
            }
        }
    }

    .selected{
        border:1px solid var(--main);
    }
}