.container{
    background-color: var(--main-color-opacity);
    border-radius: 5px;
    padding: 0.5rem;
    margin: 1rem 0;
    border: 2px solid var(--background-faded);

    p{
        display: flex;
        align-items: center;
        justify-content: space-between;

        button{
            padding: 0 0.5rem;
            background-color: var(--background-faded);
            height: 30px;
            margin-right: 0.2rem;

            &:hover{
                opacity: 0.8;
            }
        }
        
        span{
            display: flex;
            align-items: center;
        }

        svg{
            display: flex;
            font-size: 1.3rem;
        }
    }

    .queryBtn{
        border: 1px solid var(--background-faded);
        background-color: var(--main-color-opacity);
        padding: 0.3rem 0.5rem;
        min-width: 50px;
        margin: 0.5rem;

        &:hover{
            border-color: var(--main-color-selected);
        }
    }
    .selected{
        border-color: var(--main-color);
    }
}