.container{
    text-align: center;

    svg{
        font-size: 2rem;
        border-radius: 5px;
        cursor: pointer;

        &:hover{
            color: var(--main-color-selected);
            background-color: var(--background-faded);
        }
    }

}

.top{
    margin-bottom: 1rem;
}

.bottom{
    margin-top: 3rem
}